{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

{{#with data}}
  <div class='purchase-card'>

    <a
      href='/purchase-item?id={{id}}'
      class='purchase-card__id'
    >ID: {{id}}</a>

    <div class='purchase-card__item'>
      <p class='purchase-card__item-title'>Товари</p>
      <p
        class='purchase-card__item-info'
      >{{product.title}}</p>
    </div>

    <div class='purchase-card__item'>
      <p class='purchase-card__item-title'>Сума замовлення</p>
      <p
        class='purchase-card__item-info'
      >{{totalPrice}}₴</p>
    </div>

    <div class='purchase-card__item'>
      <p class='purchase-card__item-title'>Нараховані бонуси</p>
      <p
        class='purchase-card__item-info'
      >{{bonusProduct}}₴</p>
    </div>

  </div>

{{/with}}

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}